/**
* @file
* Installation styling.
*
*/

html body,
html body a,
html body a:hover,
html body a:focus,
html body a:active,
html body.install-page .site-version,
html body .claro-details,
html body .claro-details__summary,
html body .form-item__description,
html body .task-list li {
  color: #3a3a6e;
}

html body .task-list .is-active,
html body .button--primary,
html body .claro-details__summary:hover {
  color: #fff;
  background: #3a3a6e;
}

html body .button--primary:hover,
html body .button--primary:focus,
html body .button--primary:active {
  background: #3c3d41;
}

html body .task-list .is-active::after {
  border-left-color: #3a3a6e;
}

html body.install-page {
  background: #3a3a6e !important;
  background-color: #3a3a6e !important;
}

html body .layout-container header {
  height: 10rem;
  margin-bottom: 2rem;
  background-image: url("../../images/logo.svg") !important;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

html body.install-page .site-name {
  display: inline-block !important;
  margin-top: 4rem !important;
  margin-left: 12rem;
  color: #3a3a6e;
  font-size: 3rem !important;
}

html body.install-page .site-version {
  vertical-align: middle;
}
